.features {

  &__title {
    color: $title-text-color;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }

  &__item {
    max-width: 270px;
  }

  &__list {
    display: flex;
  }

  &__list &__item + &__item {
    margin-left: 30px;
  }

  &__wrapper {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}


  
  
  
  
  
  
  
  
 